.bird {
	position: relative;
	margin: 0;
	background-color: darkslategray;
	width: 960px;
	height: 960px;
}

/* Source */

.bird__source {
    position: absolute;
/*    inset: 0;*/
    content: url('bird.png');
    opacity: 0.4;
    pointer-events: none;
    image-rendering: pixelated;
}

.bird__head, 
.bird__head * {
	position: absolute;
}

.bird__head {
	box-sizing: border-box;
	top: 204px;
	left: 228px;
	width: 212px;
	height: 212px;
	/* background-image: conic-gradient(	
	midnightblue 0 deg,
	darkslateblue 90 deg,
	deepskyblue 180 deg,
	yellowgreen 270deg); */
	background-image: conic-gradient(
		from -45deg, 
		midnightblue 0deg 90deg, darkslateblue 90deg 180deg, deepskyblue 180deg 270deg, yellowgreen 270deg 360deg);
	border-radius: 50%;
	border: 52px solid black;
	border-color: yellowgreen deepskyblue darkslateblue midnightblue;
	rotate: -45deg;
}

.bird__head::after{
	content: "";
	box-sizing: border-box;
	position: absolute;
	left: 33px;
	top: 33px;
	display: block;
	width: 41px;
	height: 41px;
	border-radius: 50%;
	border: 3px solid black;
	/* background: radial-gradient(black 0%, black 50%, transparent 50%, transparent 100%), darkorange; */
	/* background: radial-gradient( black 50%, transparent 50%), darkorange; */
	background: radial-gradient(white 13%, transparent 0%) -4px -4px ,  radial-gradient( black 50%, transparent 50%), darkorange;
}

/* Body */

.bird__body,
.bird__body * {
	position: absolute;
}

.bird__body {
	top: 223px;
    left: 244px;
    width: 504px;
    
    height: 504px;
    background-image: 
		radial-gradient(
			deepskyblue 70%,
			transparent 0	
		),
		linear-gradient( 
			45deg,
			lemonchiffon 42%, transparent 0
		);
	background-position: -122px 94px , 0 0;
	background-size: 212px 212px, 100% 100%;
	background-repeat: no-repeat;
	border-radius: 50%;
}

.bird__neck {
    top: 5px;
    left: 155px;
    width: 175px;
    height: 164px;
    transform-origin: top left;
    rotate: 41deg;
    background: radial-gradient(at 50% 50%, deepskyblue 70%, transparent 0), 
	linear-gradient(45deg, deepskyblue 50%, greenyellow 50%);
	background-position: 70px 0,
	0 0;
	mask-image: linear-gradient( 94deg, white 94%, transparent 0 );
	-webkit-mask-image: linear-gradient( 94deg, white 94%, transparent 0 );
}

.bird__back {
	top: 178px;
    left: 200px;
    height: 76px;
    width: 38px;
    background-color: midnightblue;
    rotate: 45deg;
	border-radius: 0 40px 40px 0;
	box-shadow: 
		39px 0 deepskyblue, 
		78px 0 midnightblue, 
		117px 0 deepskyblue, 
		156px 0 midnightblue, 
		193px 0 deepskyblue, 
		232px 0 midnightblue, 
		271px 0 deepskyblue, 
		310px 0 midnightblue, 
		349px 0 deepskyblue,
		0px -80px midnightblue, 
		39px -80px yellowgreen, 
		78px -80px midnightblue, 
		117px -80px yellowgreen, 
		156px -80px midnightblue, 
		193px -80px yellowgreen, 
		232px -80px midnightblue, 
		271px -80px yellowgreen, 
		310px -80px midnightblue, 
		349px -80px yellowgreen;
		
}

/* Tail */

.bird__tail {
    top: -79px;
    left: 387px;
    height: 78px;
    width: 145px;
    background-color: midnightblue;
    background-image: linear-gradient(
		to top,
		transparent 0 17px,
		greenyellow 17px 22px,
		transparent 22px 36px,
		yellowgreen 36px 41px,
		transparent 41px 56px,
		lightskyblue 56px 60px,
		transparent 60px 100%
	);
    background-position: 16px 0px;
    background-size: 77% 100%;
    background-repeat: no-repeat;
}

/* Wing */

.bird__wing {
    top: 191px;
    left: 90px;
    width: 404px;
    height: 354px;
    /* background-color: red; */
    background-image: conic-gradient(
  from 299deg at 100% 100%,
  darkolivegreen 16deg, 
  transparent 0
 );
    border-radius: 180px 0 0 0;
}

.bird__wing::before {
    content: '';
    position: absolute;
    inset: 2px 0 0 0;
    width: 128px;
    height: 128px;
    border-radius: 0 100% 0 0;
    background-color: darkorange;
}

/* legs */

.bird__legs {
    position: absolute;
    top: 727px;
    left: 484px;
    width: 5px;
    height: 109px;
    background-color: black;
    box-shadow: 22px 0 black;
}

/* Shadow */

.bird__shadow {
    position: absolute;
    top: 794px;
    left: 290px;
    width: 414px;
    height: 82px;
    background-color: rgb(0 0 0 / 0.1);
    border-radius: 50%;
}

/* Beak Клюв*/

.bird__beak {
    position: absolute;
    left: 60px;
    top: 288px;
    width: 170px;
    height: 70px;
	background-image: radial-gradient(transparent 55%, darkgray 0);
	background-position: -405px -9px;
	background-size: 800px 300px;
	background-repeat: no-repeat;
    box-shadow: -100px 123px 0 -100px black inset;
    border-radius: 100% 0 0 0 / 50px 0 0 0;
}

.scale {
	transform: scale(0.2);
    top: 287px;
    left: 84px;
    height: 48px;
    width: 146px;
	border-radius: 10px 0 0 0 / 10px 0 0 0;
}